.container {
  width: 1000px;
  height: 700px;
  border: 5px solid black;
  position: relative;
  display: flex;
  margin: auto;
}

.slider {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
  overflow: hidden;
}

.slider > :first-child {
  max-width: 100% !important;
  max-height: 100% !important;
}

@media (pointer: coarse) {
  .slider {
    user-select: auto;
  }
}

.dots-wrapper {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
}

.dots {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 10px;
  background-color: gainsboro;
  cursor: pointer;
}

.arrow-right {
  transform: rotate(-45deg);
  border: solid greenyellow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 45%;
  right: 20px;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(135deg);
  border: solid greenyellow;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 45%;
  left: 20px;
  cursor: pointer;
}
